<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/wentwrong.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="error-container">
        <h1>Error {{.StatusCode}}</h1>
        <p>Something went wrong.</p>
        <p>{{.StatusText}}</p>
        <p><a href="/">Return</a></p>
    </div>
</body>
</html>
